<?xml version="1.0"?>
<model>
  <name>Tilted hexarotor with fixed arm</name>
  <version>1.0</version>
  <sdf version="1.6">tilted_hex_arm.sdf</sdf>

  <author>
   <name>Tareq Alqutami </name>
   <email>tareqaziz2010@gmail.com></email>
  </author>

  <description>
    This is a model of the Yuneec Typhoon H480 with tilted propellers forming a fully-actuated drone.
    It is endowed with fixed arm
  </description>
</model>
